<article id="achievements">
	<h2>Achievements</h2>
	<ul>
	<li>Successfully create a scalable style guide solution to create a global branding for NASCO.</li>
	<li>Accessibility code for HCA MyHealthOne Portal achieved EHR Compliance, certified by Drummand Group.</li>
	<li>2014 Helping Hand award from Perficient Digital, for mentoring and assisting junior team members.</li>
	<li>Efficiently resolved many client issues, often earning praise that led to project extensions.</li>
	</ul>
</article>