<article id="education">
	<h2>Education</h2>

	<div class="education-section">
		<div class="education-period indicator-text">08/2008-09/2009</div>
		<h3 class="education-title">Master of Science in Computer Science</h3>
		<p class="education-location">University of North Carolina at Charlotte</p>
	</div>

	<div class="education-section">
		<div class="education-period indicator-text">08/2004-06/2008</div>
		<h3 class="education-title">Bachelor of Engineering in Information Science</h3>
		<p class="education-location">Don Bosco Institute of Technology, Bangalore, India</p>
	</div>

</article>