<article id="experience">
	<h2>Work Experience</h2>

	<div class="experience-section">
		<div class="work-period indicator-text">05/2012-Present</div>
		<div class="work-city indicator-text">Portland, OR</div>
		<h3 class="work-title">UI Solutions Architect</h3>
		<h4 class="work-company">Perficient</h4>

		<div class="work-responsibilities indicator-text">Responsibilities</div>
		<ul class="default">
			<li>Currently working as a Team Lead, managing 4 Front-end developers in the Perficient Digital group.</li>
			<li>Actively enganged on different client projects, traveling to client site or working remote based on the project needs.</li>
			<li>Work with other business units to integrate the front end code with backend technology (CMS, Portal, etc).</li>
			<li>Participate in pre-sales/client meetings as a Subject Matter Expertise on different areas of Front-end development.</li>
			<li>Provide technical leadership for internal projects within Perficient Digital.</li>
		</ul>
	</div>

	<div class="experience-section">
		<div class="work-period indicator-text">04/2015-Present</div>
		<div class="work-city indicator-text">Atlanta, GA</div>
		<h3 class="work-title">Lead UI Developer</h3>
		<h4 class="work-company">NASCO</h4>

		<div class="work-responsibilities indicator-text">Responsibilities</div>
		<ul class="default">
			<li>Engaged as Lead UI Developer for NASCO's Enterprise Portal project through Perficient.</li>
			<li>Architect solution to create new web pages and prototypes for a large enterprise application - PMR (Provider Management and Reimbursement).</li>
			<li>Perform heavy customization of datatables plugin to meet the business functionality.</li>
			<li>Work with portal developers to integrate the front end code with IBM WebSphere portal 8.</li>
			<li>Create living style guide for 9 different products aligning with the company's branding guidelines.</li>
		</ul>
	</div>

	<div class="experience-section">
		<div class="work-period indicator-text">07/2013-03/2015</div>
		<div class="work-city indicator-text">Nashville, TN</div>
		<h3 class="work-title">Lead UI Developer</h3>
		<h4 class="work-company">Hospital Corporation of America</h4>

		<div class="work-responsibilities indicator-text">Responsibilities</div>
		<ul class="default">
			<li>Lead UI Developer for MyHealthOne Portal, engaged through Perficient.</li>
			<li>Create responsive, accessible web application using HTML5, CSS3 and jQuery.</li>
			<li>Use EmberJS to perform client side interaction.</li>
			<li>Work in an agile environment with two week sprints in a large development team.</li>
			<li>Use modern front end workflow such as grunt, yeoman, jekyll, SASS, handlebars, mockjax to create the UI.</li>
		</ul>
	</div>

	<div class="experience-section">
		<div class="work-period indicator-text">05/2012-04/2013</div>
		<div class="work-city indicator-text">Mooresville, NC</div>
		<h3 class="work-title">Senior UI Developer</h3>
		<h4 class="work-company">Lowe's Home Improvement</h4>

		<div class="work-responsibilities indicator-text">Responsibilities</div>
		<ul class="default">
			<li>Senior UI Developer for multiple workspace releases of the Lowe’s StoreNet Dashboard Application, engaged through Perficient.</li>
			<li>Analyze the wireframe, functional requirements and convert the visual design into working, semantic HTML.</li>
			<li>Perform client side interaction using jQuery and AJAX consuming RESTful Web Services.</li>
			<li>Create and maintain IBM Websphere Portal 6 theme and integrate the front end code.</li>
			<li>Work in an agile environment with two week sprints in a large development team.</li>
		</ul>
	</div>

	<div class="experience-section">
		<div class="work-period indicator-text">12/2010-05/2012</div>
		<div class="work-city indicator-text">Detroit, MI</div>
		<h3 class="work-title">UI Developer</h3>
		<h4 class="work-company">Compuware Corporation</h4>

		<div class="work-responsibilities indicator-text">Responsibilities</div>
		<ul class="default">
			<li>Work as a Liferay/Java UI Developer with Covisint Business Unit of Compuware.</li>
			<li>Focus on the presentation layer of the application by using various Front-end technologies.</li>
			<li>Specialize in Liferay theme and CMS development.</li>
		</ul>
	</div>

		<div class="experience-section">
		<div class="work-period indicator-text">05/2009-07/2010</div>
		<div class="work-city indicator-text">Charlotte, NC</div>
		<h3 class="work-title">Web Developer</h3>
		<h4 class="work-company">Whirlwind Creative</h4>

		<div class="work-responsibilities indicator-text">Responsibilities</div>
		<ul class="default">
			<li>Work as a Web Developer for Whirlwind Creative, a marketing firm in the greater Charlotte area.</li>
			<li>Develop custom CMS solutions using HTML, PHP and MySql for various client associated with the organization.</li>
			<li>Database administration and maintenance support for all the websites associated with the organization.</li>
		</ul>
	</div>


</article>

