
<header>
	<h1>Harish Bhavanichikar</h1>
	<span itemprop="email"><a href="mailto: harish2rock@gmail.com">harish2rock@gmail.com</a></span>
	<span itemprop="connect">
		<a href="https://www.linkedin.com/in/harishbhavanichikar/" target="_blank"><i class="fa fa-linkedin-square"></i></a> | 
		<a href="https://twitter.com/harish2rock/" target="_blank"><i class="fa fa-twitter-square"></i></a> |
		<a href="https://github.com/harish2rock/" target="_blank"><i class="fa fa-github-square"></i></a> 
	</span>
	<span itemprop="contact">
		313-258-1789 | Portland, OR
	</span>
</header>