<article id="interests">
	<h2>Interests</h2>

	<span class="interest">User Experience</span> |
	<span class="interest">Professional Development Reading</span> |
	<span class="interest">Cross Platform Desktop Apps</span> |
	<span class="interest">Racquetball</span> |
	<span class="interest">Arduino and other connected devices</span>

</article>