<section id="introduction">
<p><strong>User Interface</strong> and <strong>Front end Web Application Developer</strong> in a wide variety of business applications with abundant exposure across various domains. Particularly interested in the presentation layer with focus on <strong>progressive enhancement, web accessibility, responsive design</strong> and <strong>performance</strong> of the application’s User Experience.</p>
</section>