<article id="skills">
	<h2>Skills & Competence</h2>

	<div class="skills-scale-section">
		<span class="skills-scale">1</span>
		<span class="skills-scale">4</span>
		<span class="skills-scale">7</span>
		<span class="skills-scale">10</span>
	</div>

	

	<div class="skills-section">
		<aside>HTML</aside> 
		  <div class="skills-bar skills-bar-90" role="skillsbar" aria-valuenow="90"
		  aria-valuemin="0" aria-valuemax="100">
		  </div>
		  <span class="subsection">(HTML5, Handlebars, Accessibility)</span>
	</div>

	<div class="skills-section">
		<aside>CSS</aside>
		  <div class="skills-bar skills-bar-80" role="skillsbar" aria-valuenow="80"
		  aria-valuemin="0" aria-valuemax="100">
		  </div>
		  <span class="subsection">(LESS, SASS, Bootstrap, Foundation)</span>
	</div>

	<div class="skills-section">
		<aside>JavaScript</aside>
		  <div class="skills-bar skills-bar-80" role="skillsbar" aria-valuenow="80"
		  aria-valuemin="0" aria-valuemax="100">
		  </div>
		  <span class="subsection">(vanilla JS, jQuery, nodeJS)</span>
	</div>

	<div class="skills-section">
		<aside>JS Frameworks</aside>
		  <div class="skills-bar skills-bar-70" role="skillsbar" aria-valuenow="70"
		  aria-valuemin="0" aria-valuemax="100">
		  </div>
		  <span class="subsection">(angular, ember, react)</span>
	</div>

	<div class="skills-section">
		<aside>Build Tools</aside>
		  <div class="skills-bar skills-bar-90" role="skillsbar" aria-valuenow="90"
		  aria-valuemin="0" aria-valuemax="100">
		  </div>
		  <span class="subsection">(grunt, gulp, bower, yeoman, npm)</span>
	</div>

	<div class="skills-section">
		<aside>Technical Leadership</aside>
		  <div class="skills-bar skills-bar-90" role="skillsbar" aria-valuenow="90"
		  aria-valuemin="0" aria-valuemax="100">
		  </div>
	</div>

	<div class="skills-section">
		<aside>Subject Matter Expertise</aside>
		  <div class="skills-bar skills-bar-90" role="skillsbar" aria-valuenow="90"
		  aria-valuemin="0" aria-valuemax="100">
		  </div>
	</div>

	<div class="skills-section">
		<aside>Communication Skills</aside>
		  <div class="skills-bar skills-bar-80" role="skillsbar" aria-valuenow="90"
		  aria-valuemin="0" aria-valuemax="100">
		  </div>
	</div>

	

	

</article>